@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo-latin-wdth-wght-d49f67a2df01.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62% 125%;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/instrument-sans-latin-400-0ded650c1edb.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/instrument-sans-latin-500-30fda0a9f10f.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fragment Mono";
  src: url("/fonts/fragment-mono-latin-400-7e8bf271dd15.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
